services:
    - class: Recoded\PHPStanLaravel\Extensions\StubExtension
      tags: [phpstan.stubFilesExtension]
    - class: Recoded\PHPStanLaravel\Extensions\Eloquent\Scopes
      tags: [phpstan.broker.methodsClassReflectionExtension]
    - class: Recoded\PHPStanLaravel\Extensions\Eloquent\WhereHasBuilderType
      tags: [phpstan.methodParameterClosureTypeExtension]
